/* TRIP-CARD */
.trip-card {
    color: #494949;
}
.trip-card img {
    max-width: 100%;
}
.trip-card .tc-image img {
    height: 220px;
    object-fit: cover;
    width: 100%;
}

.trip-card .ms_underline {
    text-decoration: underline dotted #e0e0e0; 
    text-underline-offset: 2px;
}

.ms_desktop-element {
    display: none;
}
.ms_red-color {
    color: red;
}
.ms_line-throught {
    text-decoration: line-through;
}
.ms_black-color {
    color: black;
}
.ms_bold-font {
    font-weight: bold;
}
.trip-card a {
    text-decoration: none;
    color: inherit;
}
.trip-card .ms_vert-align i {
    vertical-align: middle;
}
/* image */
.trip-card .tc-image {
    position: relative;
}
.trip-card .ms_heart {
    display: inline-block;
    background-color: white;
    color: black;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 1px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}
/* title */
.trip-card .tc-content h2 {
    font-size: 20px;
    color: black;
}
/* trip-content */
.tc-content {
    
}
/* trip-info-area */
.trip-card .ms_circles > * {
    display: inline-block;
    vertical-align: middle;
}
.trip-card .ms_circles .ms_circle {
    background-color: #00aa6c;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.trip-card .ms_margin-bt3 {
    margin-bottom: 3px;
}
.trip-card .ms_security-icon {
    padding-bottom: 1rem;
}
.trip-card .ms_cooking {
    padding-top: 20px;
}
/* Expedia offer-area */
.trip-card .ms_logo-expedia img {
    width: 9rem;
}
.ms_row {
    display: flex;
    justify-content: space-between;
}
.trip-card .tc-expedia .ms_discount {
    font-size: 25px;
    line-height: 1;
}
.trip-card .tc-expedia .ms_expedia-link {
    padding-bottom: 8px;
}
.trip-card .tc-expedia .ms_yellow_btn {
    background-color: #f2b203;
    padding: 8px 18px;
    border-radius: 15px;
    display: inline-block;
}
/* price offer-area */
.trip-card .tc-offer .ms_comparison {
    text-align: center;
}
.trip-card .tc-offer .ms_comparison::before {
    content: "";
    width: 100%;
    border-top: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    display: inline-block;
    margin-top: 20px;
}
.trip-card .tc-offer .ms_all_offers::before {
    content: "";
    width: 85%;
    border-top: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    display: inline-block;
}
/* MEDIA QUERIS */
/* md-screen */
@media screen and (min-width: 768px) {
    /* image */
    .trip-card .tc-image img {
        width: 100%;
        height: 195px;
        object-fit: cover;
    }
}
/* lg-screen */
@media screen and (min-width: 992px) {
    /* TRIP-CARD */
    .trip-card {
        display: flex;
    }
    .trip-card {
        border: 1px solid red;
    }
    .ms_mobile-element {
        display: none;
    }
    .ms_desktop-element {
        display: block;
    }
    /* image */
    .trip-card .tc-image {
        width: 30%;
    }
    .trip-card .tc-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* heart */
    .trip-card .ms_heart {
        top: 10px;
        right: 10px;
    }
    /* tc-content */
    .trip-card .tc-content {
        width: 70%;
    }
    .trip-card .tc-content h2 {
        font-size: 30px;
        padding: 10px 20px 0;
    }
    /* tc-text-description */
    .tc-text-description {
        display: flex;
        border: 1px solid red;
    }

    /* trip info-area */
    .trip-card .tc-info {
        width: 40%;
        order: 3;
        padding-left: 10px;
        padding-top: 20px;
    }
    .trip-card .ms_circles {
        padding-bottom: 3px;
    }
    /* expedia offer-area */
    .trip-card .tc-expedia {
        order: 1;
        width: 34%;
        text-align: center;
    }
    .trip-card .ms_logo-expedia img {
        margin-bottom: -20px;
    }
    .trip-card .tc-expedia .ms_row {
        display: block;
    }
    .trip-card .tc-expedia .ms_line-throught {
        font-weight: bold;
        font-size: 28px;
    }
    .trip-card .tc-expedia .ms_discount {
        font-size: 28px;
        padding-bottom: 20px;
    }
    .trip-card .tc-expedia .ms_btn {
    }
    .trip-card .tc-expedia .ms_yellow_btn {
        padding: 13px 45px;
        margin-bottom: 10px;
    }
    .trip-card .tc-expedia .ms_check {
        text-align: left;
        padding: 0 20px;
    }
    .trip-card .tc-expedia .ms_bottom-check {
        padding-bottom: 30px;
    }
    /* price offer-area */
    .tc-offer {
        order: 2;
        width: 26%;
        text-align: center;
        position: relative;
        padding-top: 20px;
    }
    .tc-offer::before {
        content: "";
        height: 100%;
        border-left: 1px dotted red;
        position: absolute;
        top: 0;
        left: 0;
    }
    .tc-offer::after {
        content: "";
        height: 100%;
        border-right: 1px dotted red;
        position: absolute;
        top: 0;
        right: 0;
    }
}
/* xl-screen */
@media screen and (min-width: 1200px) {
    /* expedia offer-area */
    .trip-card .tc-expedia .ms_yellow_btn {
        padding: 13px 70px;
    }
    /* price offer-area */
    .trip-card .tc-offer .ms_all_offers::before {   
        width: 90%;
    }
    .ms_padd-left-right {
        display: inline-block;
        padding: 0 12px;
    }
}